/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*CSS Starts Here*/
html, body {
	height: 100%;
    width: 100%;
    background-color: #173F4E;
}

body {
	width: 100%;
	margin: auto;
}

p {
    line-height: 1.4;
    text-align: center;
    color: #DDAA00;
}

header {
    height: 1.5vh;
    border: transparent;
    padding: 1%;
    height: 80px;
    margin: 0 auto;
    display: block;
	text-align: center;
	display:flex;
    justify-content: center;
}

/*Nav and Button Css*/

nav span{
    border-left:3px solid #626262;

}

.nav-header {
    margin: 0 auto;
    text-align: left;
    align-items: left;
    justify-content: space-around;
}

nav button {
    width: 145px;
    height: 50px;
    background-color: #A65111;
    color: #173F4E;
    border: transparent solid 2px;
	border-radius: 0px;
	justify-content: ;
}

button:hover{
    background-color:#626262;
    border:2px solid white;
    color: #DDAA00;
    box-shadow: 2px 2px 1px white;
}

.background {

	width: 500px;
	margin-top: 20px;
	padding: 3%;

}

h1, h2, h3, h4, h5, h6 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #85aaaa
}

img {	
    height:39rem;	
    object-fit: cover;	
    display: block;	
    margin: 2%;	
    margin-top: 4%;	
    margin-left: auto;	
    margin-right: auto;	
    border-radius: 2%;	
}	
img:hover {	
    opacity: 80%;	
}

/*Container and Content*/
.container {
    display: block;
    text-align: center;
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px dashed #A65111;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed #A65111
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

/*Footer*/
footer {
    width: 100%;
}

#image-container {
	background-image: url(https://images.unsplash.com/photo-1570441262582-a2d4b9a916a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=731&q=80);
    background-position: center;
    background-size: contain;
	padding: 5%;
}

footer nav {
    border: 2px solid transparent;
    margin: 1%;
    padding: 1%;
	width: 100%;
	justify-content: space-evenly;
}

footer nav a {
    width: 100px;
    height: 50px;
    border: transparent solid 2px;
	border-radius: 0px;
	justify-content: space-between;
}

/*Media*/

@media (min-width: 800px) {

}


@media (max-width: 500px) {
    
    header {
        justify-content: center;
    }
    
    header nav button{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container {
        margin-top: 50px;
        flex-flow: column;
        align-items: center;
    }

    .container .top img{
        display: flex;
        justify-content: center;        
    }

    top-content .text-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    footer nav button{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #image-container {
        background-image: url(https://images.unsplash.com/photo-1570441262582-a2d4b9a916a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=731&q=80);
    }
}

